.about-container {
    display:block;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 10%;

    h2{
        font-size: 10px;
        letter-spacing: 5px;
        color:#999;
        text-transform: uppercase;
        line-height: 3em;
        font-weight: 600;

        span{
            display: block;
            font-size: 18px;
            letter-spacing: 5px;
            margin-bottom: 4em;
            color: #000;
            font-weight:700;
        }
    }

    p{
        color: rgba(0, 0, 0, 0.7);
        line-height: 2em;
    }
}