.portfolio-maincontainer {
    display: grid;
    grid-template-columns: 427px 427px;
    grid-gap: 20px;
    
    .portfolio-container {
        display: flex;
        justify-content: center;
        box-shadow: 0 0 56px -8px rgba(0,0,0,.17);
        position: relative;

        .overlay {
            position: absolute;
            background-color: rgba(44, 152, 240);
            opacity:0;
            height: 100%;
            width: 100%;
            transition: 0.6s ease-in;

            a {
                text-decoration: none;
                font-family: "Playfair Display", serif;
                color: #fff;
                position: absolute;
                font-size: 2em;
                font-weight: 700;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
            }

            a:hover, a:active, a:visited, a:focus {
                border: none;
                text-decoration: none;
                outline: 0;
            }
        }

        .overlay:hover {
            opacity:1;
        }

        img {
            height: auto;
            width: 427px;
        }
    }

    
}

.wrapper {
    display: flex;
    justify-content: center;
}