.slider-container{
    display:block;
    margin-right:3%;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("/img/hero_image.jpeg");
    background-size: cover;
    background-position-y: 20%;
    height:100vh;
    margin-bottom: 10%;
    


    h1{
    position: absolute; 
    color:#fff;
    left: 50%;                        
    top: 24%;                         
    transform: translate(-50%, -50%); 
    font-size: 5em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    animation: example 1s;
    animation-delay: 0.2s;



    span{
        display:block
    }

    
    }
}

